<h1>cooltrans</h1>

<div class="flex flex-col gap-2">
    <p>A python proxy that works around some perf/stability issues in the <a
            href="https://cwwp2.dot.ca.gov/documentation/cctv/cctv.htm">Caltrans CCTV</a> streaming server.</p>

    <a class="flex flex-row gap-2 border border-dotted w-fit p-1" href="/cooltrans">
        <span>Live Demo</span>
    </a>

    <a class="flex flex-row gap-2 border border-dotted w-fit p-1" href="https://github.com/alexmac/cooltrans">
        <img src="/gh.svg" alt="Github Logo" class="w-6 h-6">
        <span>Github Repo</span>
    </a>
</div>