################################################################################
# shutdown.service
################################################################################

[Unit]
DefaultDependencies=no
Before=shutdown.target
Description=Runs shutdown.sh
  
[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/ami_setup/github_scripts/shutdown.sh

[Install]
WantedBy=halt.target reboot.target shutdown.target
