[packages]
alxhttp = "*"
aiohttp-jinja2 = "*"
lxml = "*"
types-lxml = "*"
pillow = "*"
aws-xray-sdk = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
ruff = "*"
twine = "*"

[scripts]
server = "python example/server.py"
tidy = "bash -cxe 'isort . && black . && ruff .'"
upload = "twine upload dist/*"
css = "bunx tailwindcss -i ./tailwind.tw.css -o ./static/tailwind.css"
csswatch = "bunx tailwindcss -i ./tailwind.tw.css -o ./static/tailwind.css --watch"

[requires]
python_version = "3.11"
