################################################################################
# SSH Host Key Signing
################################################################################

[Unit]
Before=sshd.service
Wants=sshd.service
After=cloud-init.service
Description=Runs SSH Host Key Signing

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/ami_setup/eks_scripts/sign-ssh-host-key.sh

[Install]
WantedBy=multi-user.target
